.gradle
.idea
build/
target/
detail
service/build/
service/out/
service/.gradle/
component-test/.gradle/
api/out/
api/.gradle

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

*.iml

*.log

*.toDelete
