.gradle
.idea
build/
target/
logs
**/out
**/build
**/logs
**/target
local.properties

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

*.iml

*.log

*.toDelete

*.class

